# #Handling Imbalanced Dataset
1.Up Sampling

2.Down Sampling

In [2]:
import numpy as np
import pandas as pd

#set random seed for reproducibility
np.random.seed(123)

#create dataframe with two samples
n_samples = 1000
class_0_ratio = 0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [6]:
# Create my dataframe with imbalanced dataset

class_0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
}
)
# normal ==>> normal                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            

class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
}
)

In [10]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [11]:
df

     feature1  feature2  target
0   -1.774224  0.285744       0
1   -1.201377  0.333279       0
2    1.096257  0.531807       0
3    0.861037 -0.354766       0
4   -1.520367 -1.120815       0
..        ...       ...     ...
995  2.677156  1.092048       1
996  2.963404  0.181955       1
997  1.621476  1.877267       1
998  3.429559  3.794486       1
999  3.532273  1.679490       1

[1000 rows x 3 columns]

In [12]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# 1.Upsampling
creating 2 datasets for minority and majority

In [13]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [14]:
from sklearn.utils import resample
# resample -- create more sample and try to equalate
df_minority_upsample=resample(df_minority,replace=True,
                              n_samples=len(df_majority),random_state=42)

In [16]:
df_minority_upsample.shape

(900, 3)

In [17]:
df_minority_upsample.head()

     feature1  feature2  target
951  2.905343  1.495151       1
992  2.000977  1.814833       1
914  1.927957  2.280911       1
971  2.819483  2.964646       1
960  2.456515  1.833528       1

In [20]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [21]:
df_upsampled

     feature1  feature2  target
0   -1.774224  0.285744       0
1   -1.201377  0.333279       0
2    1.096257  0.531807       0
3    0.861037 -0.354766       0
4   -1.520367 -1.120815       0
..        ...       ...     ...
952  1.766644  1.532225       1
965  1.527330  2.182477       1
976  2.463277  0.795616       1
942  2.930412  1.067353       1
974  1.866832  2.723282       1

[1800 rows x 3 columns]

In [22]:
#now check counts of target
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [23]:
# 900 zero and 900 1

# 2. DownSampling

In [24]:
#downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [26]:
from sklearn.utils import resample #replace false to reduce data
# resample -- create more sample and try to equalate
df_majority_downsample=resample(df_majority,replace=False,
                              n_samples=len(df_minority),random_state=42)

In [27]:
df_majority_downsample.shape

(100, 3)

In [28]:
#now check counts of target
df_downsampled=pd.concat([df_minority,df_majority_downsample])

In [31]:
df_downsampled.target.value_counts()

1    100
0    100
Name: target, dtype: int64

In [33]:
# we loss values in downsampling
#so we mostly perform upsampling